{# Fetch entries with the 'foo' option selected #}
{% set entries = craft.entries()
    .myFieldHandle('foo')
    .all() %}

{% set value = entry.destaques %}

{{ entry.destaques }} or {{ entry.destaques.value }}

{% if entry.myFieldHandle.value %}

{{ entry.myFieldHandle.label }}

{% for option in entry.myFieldHandle.options %}
    Label:    {{ option.label }}
    Value:    {{ option }} or {{ option.value }}
    Selected: {{ option.selected ? 'Yes' : 'No' }}
{% endfor %}

<!--  -->
{% set field = craft.app.fields.getFieldByHandle('myFieldHandle') %}

<select name="fields[destaques]">
    {% for option in field.options %}

        {% set selected = entry is defined
            ? entry.myFieldHandle.value == option.value
            : option.default %}

        <option value="{{ option.value }}"
                {% if selected %}selected{% endif %}>
            {{ option.label }}
        </option>
    {% endfor %}
</select>
<!--  -->